@import "./node_modules/react-md/src/scss/_colors.scss";
@import "./node_modules/react-md/src/scss/_globals.scss";

@media #{$md-tablet-media} {
  .board {
    background-color: $md-green-a-100;
  }
}

@media #{$md-desktop-media} {
  .board {
    background-color: $md-red-900;
  }
}